
.aboutHome {

    height: auto;

}

.aboutHome #heading {

    text-align: left;
    padding: 0;

}

.aboutHome .left img {

    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.aboutHome .right {

    padding: 80px 50px;

}

.items {

    margin-top: 50px;

}

.aboutHome .item {

    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    transition: 0.5s; 

}

.aboutHome .img {

    width: 200px;

}

.aboutHome img {

    width: 70px;
    height: 70px;

}

.aboutHome .item h2 {

    font-size: 20px;
    margin-bottom: 15px;

}

.aboutHome .item:hover {

    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;
    box-shadow: 0 5px 25px -2px rgb(0 0 0 /6%) ;

}

@media screen and (max-width:768px) {
   
    .aboutHome {

        margin-top: 80%;
        
    }

    .aboutHome .container {

        flex-direction: column-reverse;

    }

    .aboutHome .row {

        width: 100%;

    }

    .aboutHome #heading {

        text-align: left;
        /* padding: 430px 0 0; */
        margin: 300px 0 0;


    }

    .aboutHome #heading  h3{

       font-size: 14px;

    }
    
    .aboutHome .right {

        padding: 80px 0;
        margin-top: 80px;
    
    }

    .aboutHome .img {

        margin-right: 9px;

    }
}