.faq .container {

    max-width: 70%;
    
}

.faq .box {

    background-color: #fff;
    margin-bottom: 20px;

}

.faq button {

    padding: 15px 20px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff; 
    color: #1eb2a6;
    cursor: pointer;
    transition:0.5s;

}

.faq h2 {

    font-weight: 500;
}

.faq p {

    padding: 20px;
}

.faq .accordion:hover {

    background-color: #1eb2a6;
    color: #fff;
}