.back {

    background-image:url("../../../public/Images/back.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    /* height: 50rem; */
    padding: 25% 50px 0 0; 
    color: #fff;
    text-align: center;

}

.back h1 {

    font-size: 90px;
    font-weight: 400;

}

.back h2 {

    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;

}

/* adding extra margin  */
 .Margin {

    margin-top: 40.3%;

}

@media screen and (max-width:768px) {
    
    .back{

        background-position: center;
        padding-top: 73%;
        height: 80vh;

    }

    .Margin {

        margin-top: 0;
        /* margin-top: 60%; */

    
    }

    .back h1 {

        font-size: 50px;
    
    }
    
    .back h2 {
    
        font-size: 14px;
    
    }
}