#heading {

    text-align: center;
    padding: 40px 0;

}

#heading h3 {

    font-weight: 600;
    letter-spacing: 1px;
    color: #1eb2a6;
    text-transform: uppercase;

}

#heading h1 {

    font-size: 40px;
    text-transform: capitalize;
    margin: 20px 0;

}