/* homePage component styling  */

.homePage {

    background-image:url("../../../public/Images/bg.webp") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    color: #fff;
    padding: 18% 50px 0 0; 

}

/* row : the row contains the text and button sections  */
.row {

    width: 50%;

}

/* .homePage  .row {

    padding:2px 0;
} */

.homePage button {

    padding: 17px 30px;
    background-color: #fff;
    color: #1eb2a6;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 30px 0 0;
    box-shadow: 0 24px 36px -11px rgba(0 0 0 /9%);

}

/* button {

    padding: 17px 30px;
    background-color: #fff;
    color: #1eb2a6;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    margin: 10px 30px 0 0;
    box-shadow: 0 24px 36px -11px rgba(0 0 0 /9%);

} */

.homePage button i {

    margin-left: 20px;

}

.homePage button:hover {

    box-shadow:none;

}

/* button itself  */
.homePage .primary-btn {

    background-color: #1eb2a6;
    color: #fff;

}

 .row p {

    line-height: 27px;
    font-size: 15px;

}

.homePage #heading h3 {

    color: #fff;

}

.homePage #heading {

    text-align: left;
    margin: 0;
    padding: 0;

}

@media screen and (max-width:768px) {

    /* .Margin {
        
        height:40vh;

    } */

    .homePage {
        
        background-position:right;
        padding-top: 37%;
        /* padding-top: 50%; */
        /* height: auto; */
        height: 47rem;
        /* margin-bottom: 100px; */
        
    }

    /* this will flex it to the center  */
    .homePage .row {

        width:100%;
        margin: 130px 0;
        
    }

}

/* home about css  */
.homeAbout #heading {

    /* padding-top: 40px; */
    padding-bottom: 0;

}

.homeAbout .coursesCard {
    padding: 0 0 50px 0;
}