/* .newsLetter section start  */
.newsLetter {

    background-color: #1eb2a6;
    margin-top: 50px;
    padding: 50px 0;
    color: #fff;

}

/* input field section with the icon  and the texts*/
.newsLetter .left,
.newsLetter .right {

    padding-right: 50px;

}

/* Newsletter stay tune  */
.newsLetter h1 {

    columns: #fff;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}

/* input field section with the icon  */
.newsLetter .right {

    display: flex;
    justify-content: space-between;
    align-items: center;

}

/* input field section */
.newsLetter input {

    width: 100%;
    padding: 20px;
    border: none;
    outline: none;
    height: 30px;

}

/* plane icon  */
.newsLetter i {

    padding: 12px;
    color: #1eb2a6;
    background-color: #fff;

}
/* .newsLetter ends here  */

/* footer section  */
footer {

    background-color: #eeeeee;
    padding: 60px 0 50px;

}

/* sub main container  */
footer .container {

    display: grid;
    grid-template-columns: 3fr 2fr 2fr 4fr 3fr;
    gap: 30px;

}

/* media query  */
@media screen and (max-width:768px) {
    
    footer .container {

        display: grid;
        grid-template-columns: repeat(2,1fr);
    
    }

}
/* media query ends here  */

/* logo section start  */

/* online edu span  */
footer .logo span {

    color: #1eb2a6;
    font-size: 14px;

}

/* lorem  */
footer .logo p {

    color: grey;
    margin: 30px 0 15px 0;
    font-size: 15px;

}

/* social media icons  */
footer .logo .icon {

    background-color: #1eb2a6;
    color: #fff;
    margin-right: 10px;
    transition: .3s ease-in .1s;

}

footer .logo .icon:hover {

    background-color: #fff;
    color: #1eb2a6 ;

}

footer .logo i {

    margin-bottom: 20px;

}
/* social media handle icons section ends here  */

/* all h3 in footer  */
footer h3 {

    margin-bottom: 40px;
    font-weight: 500;

}

/* logo section ends here  */

/* explore section and quicklink section  */
footer ul li {

    margin-bottom: 20px;

}

/* arrow key  */
footer .link li::before {

    content: "\01F81A";
    color: #1eb2a6;
    margin-right: 15px;

}
/* explore section and quicklink section  end here*/

/* blog post section  */
footer .item {

    margin-bottom: 30px;
    display: flex;

}

/* footer blog post img section  */
footer .item img {

    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 10px;
    object-fit: cover;

}

/* span and the icons */
footer .item span,
footer .item i
 {

    font-size: 12px;
    color: #1eb2a6;
    margin-right: 5px;
    text-transform: capitalize;

}

/*blog title section  */
footer .text h4 {

    font-weight: 400;
    margin-top: 5px;

}
/* blog post section ends here */

/* have a question section */
footer .last ul li {

    display: flex;
    margin-bottom: 50px;

}

/* all Link text color  */
footer .link ul li a {

    color: #000;

}

/* have a question icon  */
footer .last i {

    width: 60px;
    font-size: 20px;
    color: #1eb2a6;
    
}
/* have a question section styling ends here*/

/* footer section end here  */

/* copy right section */
.legal {

    text-align: center;
    padding: 50px 0;
    color: grey;
    background-color: #e9e9e9;
}

.legal p {

    word-spacing: 2px;
}

.legal p i {

    margin-left: 6px;
    color: #1eb2a6;

}

/* media query  */
@media screen and (max-width:768px) {

    .legal  {

        font-size: 15px;
       
    }

    .legal p {

        max-width: 90%;
        margin: 0 auto;

    }

}
/* media query end here  */

/* copy right section */