.testimonial .items {

    padding: 30px;
    transition: .5s;

}

.testimonial #heading {

    padding-bottom: 0;

}

.testimonial .img {

    position: relative;

}

.testimonial img {

    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}

.testimonial i {

    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: #1eb2a6;
    color: #fff;

}

.testimonial .name {

    margin: 26px;
    /* text-align: center; */

}

.testimonial .name h2 {

    font-size: 20px;
    margin-bottom: 5px;

}

/* profession side  */
.testimonial .name span {

    color: #1eb2a6;

}

/* description side  */
.testimonial p {

    margin-top: 20px;
    color: grey;
    transition: 0.5s;
    font-size: 15px;
    
}

.testimonial .items:hover {

    background-color: #1eb2a6;
    color: #fff;
    cursor: pointer;

}

.testimonial .items:hover p,
.testimonial .items:hover span {

    color: #fff;

}

.testimonial .items:hover i {

    background-color: #fff;
    color: #1eb2a6;
    
}