.testimonial .items {

    padding: 30px;
    transition: .5s;

}

.testimonial #heading {

    padding-bottom: 0;

}

.testimonial .img {

    position: relative;

}

.testimonial img {

    width: 100px;
    height: 100px;
    border-radius: 50%;

}

.testimonial i {

    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: #1eb2a6;
    color: #fff;
    /* cursor: s; */

}

.testimonial .name {

    margin: 26px;

}