/* googole font  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,700&display=swap');

/* reset  */
*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body{

  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
  /* background-color: #858484; */
  scroll-behavior: smooth;
  
}

/* these styling is for the container in the head component  */
.container {

  max-width: 85%;
  margin: auto;

}

/* flexSB classname is used for in head and header components  */
.flexSB{

  display: flex;
  justify-content: space-between;

}

/* social media icon styling  */
.icon{

  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
  color: #1eb2a6;
  transition: .5s;

}

/* icon hover  */
.icon:hover{

  cursor: pointer;
  background-color:#1eb2a6 ;
  color: #fff;

}

/* list style  */
li {

  letter-spacing: none;
  list-style: none;

}
 
/* link style  */
a {

  text-decoration: none;

}

/* button styling  */
button {

  border: none;

}