.coursesCard {

    padding: 50px 0;

}

.grid2 {

    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-gap: 30px;
}

#flex {

    display:flex;

}
.coursesCard .items {

    background-color: #fff;
    padding: 30px;
    text-align: center;

}

.coursesCard .img {

    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #1eb2a6;
    padding: 15px;

}

.coursesCard img {

    width: 100%;
    height: 100%;
    object-fit: cover;

}

.coursesCard .text {

    margin-left: 15px;
    text-align: left;

}

.coursesCard .text h1 {

    font-size: 25px;
    font-weight: 500;
    line-height: 45px;

}

.coursesCard .rate {

    margin: 20px 0;
    color: #1eb2a6;

}

.coursesCard .rate i { 

    font-size: 13px;
    margin-right: 5px;

}

.coursesCard .rate span{

    color: grey;

}

/* this is  the styling for the nestd array of objects  */
.coursesCard .details .dimg img {

    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 20px;
    margin-right:5px;

}

.coursesCard .details .box {

    display: flex;
    align-items: center;
    color: grey;

}

.coursesCard .details span {

    color: #1eb2a6;
    font-weight: 500;
    font-size: 14px;

}

.coursesCard .price {

    margin: 30px 0;
    background-color:#f8f8f8;
    padding:10px;

}

.outline-btn {

    margin:0;
    border:2px solid #1eb2a6;
    width:100%;
    padding: 17px 30px;
    background-color: #fff;
    color: #1eb2a6;
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    transition:.5s;
    

}

.outline-btn:hover {

    background-color:#1eb2a6;
    color:#fff;

}

/* styling for the price  */
.coursesCard h3 {

    font-weight: 400;
    color:#1eb2a6;

}

@media screen and (max-width:768px) {
 
    .coursesCard {

        margin-top:90%;
    
    }

    .grid2 {

    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(1, 1fr);

            
    }


    .outline-btn {

        padding: 10px 15px;
        margin-bottom: 20px;
        
    }


}