/* online course component styling  */

/* main container  */
.onlineCourses {

    text-align:center;

}

/* sub container for the entire interface for the online course section  */
.grid3 {

    display: grid;
    grid-template-columns: repeat(6,1fr) ;
    grid-gap: 10px;

}

/* .box contains the 2 image course title and number of course video  */
.onlineCourses .box {

    box-shadow:0 5px 25px -2px rgba(0 0 0 /6%);
    background-color:#fff;
    padding:30px 20px;
    transition:.5s;

}

/* the image container  */
.onlineCourses .img {

    width:80px;
    height:80px;
    margin:auto;
    position:relative;
}

/* img itself  */
.onlineCourses img {

    width:100%;
    height:100%;
    object-fit:cover;

} 

/* course title  */
.onlineCourses h1 {

    font-weight:500;
    font-size:20px;
    margin:20px 0;
    line-height :30px;

}

/* number of course video  */
.onlineCourses  span {

    background-color:#f8f8f8;
    padding:5px 20px;
    font-weight:500;
    font-size:15px;
    color:#1eb2a6;
    border-radius: 5px;

}

/* image png with the className show  */
.onlineCourses .box .show {

    opacity:0;

}

/* .box contains the 2 image course title and number of course video  */
.onlineCourses .box:hover {

    background-color:#1eb2a6;
    border-radius:5px;
    cursor:pointer;

}

/* image png with the className show  */
.onlineCourses .box:hover .show {

    opacity:1;
    position:absolute;
    top:0;
    left:0;

}

/* course title  */
.onlineCourses .box:hover h1 {

    color:#fff;

}

/* media query  */
@media screen and (max-width:768px) {

    .onlineCourses .box {

        padding-left: 15px;
        padding-right: 15px;

    }
    
    .grid3 {

        grid-template-columns: repeat(2, 1fr);
            
    }

}